body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #FFDEDE;
    font-family: verdana;
}
.box-01,.box-02,.box-03{
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    color: #67AE6E;
    /* color: #CF0F47; */
    /* background-color: ghostwhite; */
}
#row-1,#row-2,#row-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#row-1{
    position: absolute;
    top: 140px;
    border-bottom: 4px solid #FF0B55;
}
#row-2{
    position: absolute;
    top: 250px;
}
#row-3{
    border-top: 4px solid #FF0B55;
    position: absolute;
    top: 360px;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.col-01{
    border-right: 4px solid #FF0B55;
}
.col-03{
    border-left: 4px solid #FF0B55;
}
.head{
    text-align: center;
    font-weight: bolder;
    color:black;
}
.btn-reset{
    border: none;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    background-color: #FF0B55;
    color: white;
    padding: 5px 20px 5px 20px;
}
.btn-reset:hover{
    opacity: 70%;
}
.player{
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: larger;
}
.ele{
    position: relative;
    bottom: -400px;
    color: #FF0B55;
}